<a href="https://colab.research.google.com/github/CharlieWavra/Python-Fundamentals/blob/main/Copy_of_10_2_Movies_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movies Mini-project
---

In the previous worksheet you converted an SQL relational database to a single pandas dataframe and downloaded it. You will be analysing it today.

If you were unable to download the file, there is a copy located here: 

"https://github.com/lilaceri/Working-with-data-/blob/main/Data%20Sets%20for%20code%20divisio/movies.csv?raw=true"

### Inspect the dataset 
---

In [ ]:
!pip install --upgrade openpyxl

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

url="https://github.com/lilaceri/Working-with-data-/blob/main/Data%20Sets%20for%20code%20divisio/movies.csv?raw=true"
df=pd.read_csv(url)
df

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

        Unnamed: 0 first_name    last_name  ...  year  rank        genre
0                0        Les  12 Poissons  ...  2002   NaN        Short
1                1    Lejaren     a'Hiller  ...  1920   NaN        Drama
2                2   Khairiya    A-Mansour  ...  1988   NaN  Documentary
3                3    Ricardo     A. Solla  ...  2001   NaN        Drama
4                4    Ricardo     A. Solla  ...  2001   NaN        Short
...            ...        ...          ...  ...   ...   ...          ...
368889      368889      Yusuf         Ünal  ...  1988   NaN        Drama
368890      368890      Ahmet        Ündag  ...  1972   NaN    Adventure
368891      368891       Idil         Üner  ...  2001   8.5        Short
368892      368892     Yüksel        Ünsal  ...  1951   NaN    Animation
368893      368893     Yüksel        Ünsal  ...  1951   NaN       Comedy

[368894 rows x 7 columns]

### Clean the dataset 
---

In [ ]:
df.drop("Unnamed: 0", axis=1)

       first_name    last_name  ... rank        genre
0             Les  12 Poissons  ...  NaN        Short
1         Lejaren     a'Hiller  ...  NaN        Drama
2        Khairiya    A-Mansour  ...  NaN  Documentary
3         Ricardo     A. Solla  ...  NaN        Drama
4         Ricardo     A. Solla  ...  NaN        Short
...           ...          ...  ...  ...          ...
368889      Yusuf         Ünal  ...  NaN        Drama
368890      Ahmet        Ündag  ...  NaN    Adventure
368891       Idil         Üner  ...  8.5        Short
368892     Yüksel        Ünsal  ...  NaN    Animation
368893     Yüksel        Ünsal  ...  NaN       Comedy

[368894 rows x 6 columns]

:### How many movies of each genre are there?
---

In [ ]:
df["genre"].value_counts()

Short          72894
Drama          72635
Comedy         54667
Documentary    35698
Animation      17038
Romance        13562
Action         12890
Crime          12610
Family         11074
Thriller       10681
Adventure       8598
Western         8231
Horror          7423
Musical         6843
Sci-Fi          4957
Mystery         4951
Fantasy         4871
Music           4444
War             4398
Film-Noir        429
Name: genre, dtype: int64

### Which director has the highest ranked movies?
---

In [ ]:
df.sort_values("rank",ascending=False)

       first_name    last_name                   name  year  rank      genre
81826    Jonathan        Demme  Complex Sessions, The  1994   9.9      Short
47671      Andrew  Cappelletti         Whirlpool, The  2003   9.9      Short
94815   Sergei M.   Eisenstein       Ivan Groznyj III  1988   9.9      Drama
51113        John   Cassavetes       Pair of Boots, A  1962   9.9        War
51112        John   Cassavetes       Pair of Boots, A  1962   9.9      Drama
...           ...          ...                    ...   ...   ...        ...
368888     Memduh           Ün    tekerlekli bisiklet  1962   NaN      Drama
368889      Yusuf         Ünal         Kalbim agliyor  1988   NaN      Drama
368890      Ahmet        Ündag    Ve gnese kan siradi  1972   NaN  Adventure
368892     Yüksel        Ünsal      Evvel zaman iinde  1951   NaN  Animation
368893     Yüksel        Ünsal      Evvel zaman iinde  1951   NaN     Comedy

[368894 rows x 6 columns]

### How many movies have ranks of over 9?
---

In [ ]:
df[df["rank"]>9].value_counts()

Unnamed: 0  first_name  last_name  name                               year  rank  genre
747         Gilda de    Abreu      brio, O                            1946  9.2   Drama          1
265878      Phillip     Pine       Pot, Parents and Police            1972  9.3   Drama          1
266626      Marek       Piwowski   Rejs                               1970  9.2   Comedy         1
266483      Dan         Pita       Rochia alba de dantela             1989  9.3   Drama          1
266482      Dan         Pita       Pruncul, petrolul si Ardelenii     1981  9.2   Western        1
                                                                                                ..
130008      Alan (I)    Greenberg  Land of Look Behind                1982  9.1   Documentary    1
129751      Alfred E.   Green      There's Something About a Soldier  1943  9.8   Drama          1
129262      Joan C.     Gratz      Mona Lisa Descending a Staircase   1992  9.4   Short          1
129261      Joan C.     Gratz      Mona Lisa Descending a Staircase   1992  9.4   Animation      1
368620      Kentarô     Ôtani      Travail                            2002  9.8   Comedy         1
Length: 1483, dtype: int64

### Plot a bar chart of mean rank and genre
---

### Plot a pie chart of how many movies of each genre there are 
---

In [ ]:
import matplotlib.pyplot as plt

new_df=df[["name"]]
data=["name","genre"]
plt.pie(data)
plt.show()

TypeError: ignored

### Plot a graph showing the mean Rank for each year

### What else can you find out from this dataset?
---
Make a plan of 3 further things you can do to interrogate and analyse this dataset

Type your answer here  

1.  
2.  
3.

### Complete the tasks you have set out in the exercise above. 
---

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

## What caused you the most difficulty?

Your answer: